<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true" convertWarningsToExceptions="true">
    <php>
        <const name="PHPUNIT_MYSQL_IMPORT" value="true"/>
    </php>
    <filter>
        <whitelist>
            <file>./bootstrap.php</file>
            <directory>./src/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="coverage.xml"/>
    </logging>
</phpunit>
